.footer {
    width: 100%;
    padding: 50px 0 15px;
    text-align: center;
    color: $white;
    margin-top: 50px;
}

.footer-mail {
    color: $white;
    font-weight: 700;


    &:hover {
        text-decoration: none;
    }
}

.footer-info {
    .company {
        font-size: 20px;
    }
}

.footer-copyfight {
    font-size: 16px;
}

.list-footer-icons {
    .item-icons {
        margin: 0 12px;
        .icon-link {
            color: $white;
            font-size: 3em;
            transition: .3s;            

            &:hover{
                opacity: .7;
            }
        }
    }
}
